@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@layer utilities {

  .scrollbar-hide::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 9999px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom right, #888989 -50%, #4A4E54 150%);
    border-radius: 9999px;
    /* box-shadow: 4px 4px 4.9px hsla(0, 0%, 0%, 0.25); */
  }
}

Button {
  cursor: pointer;
}

.divider-shadow {
  box-shadow: 0 4px 4px 0 hsla(0, 0%, 0%, 0.33);
}

.widget-shadow {
  box-shadow: 5.67px 5.67px 3.78px 0 hsla(0, 0%, 0%, 0.4);
}

.selected-tab-shadow {
  box-shadow: 13.49px 16.87px 67.47px 8.43px #0A0A0A,
    -8.43px -16.87px 50.6px -16.87px #485B71;
}

.tab-group-shadow {
  box-shadow: inset 0 0 37.2px 6.2px hsla(0, 0%, 0%, 0.35),
    inset 0 0 4.96px 2.48px hsla(0, 0%, 0%, 0.25);
}

.neomorphism-shadow {
  box-shadow: 9px 10px 7.1px hsla(0, 0%, 0%, 0.40),
    -0.5px -0.5px 6.9px hsla(0, 0%, 100%, 0.25),
    inset 0px 3.26px 3.26px hsla(0, 0%, 100%, 0.15),
    inset 0px 0px 48.9px hsla(0, 0%, 100%, 0.05);
}

.icon-button-shadow {
  box-shadow:
    -5px -3px 30px -10px #96BEE7,
    4px 5px 30px 5px #101213;
}

.image-shadow:hover {
  box-shadow: -9.15px -18.5px 54.89px -142px #617892,
    12px 13px 39.2px 9.15px hsla(0, 0%, 4%, 0.62);
}

.tab-hover::before {
  content: "";
  position: absolute;
  inset: 0;
  max-width: 0;
  opacity: 24%;


  background: linear-gradient(to right, hsla(240, 1%, 15%, 0.49), hsla(210, 63%, 75%, 0.24));
  border-radius: 1rem;

  z-index: 0;
  transition: max-width 0.3s ease-out;
}

.tab-hover:hover::before {
  max-width: 100%;
}


@media screen and (max-width: 1280px) {}